<h1>Fleet</h1>

<%= form_with(model: [:admin, Fleet.new], url: admin_fleet_index_path, local: true) do |form| %>
  <div>
    <%= form.label :aircraft_id, 'Aircraft' %>
    <%= form.collection_select :aircraft_id, Aircraft.all, :id, :name, prompt: 'Select an aircraft' %>
  </div>

  <div>
    <%= form.label :livery, 'Livery' %>
    <%= form.text_field :livery %>
  </div>

  <%= form.submit 'Add aircraft' %>
<% end %>

<h2>Airline Fleet</h2>

<table>
  <thead>
    <tr>
      <th>Aircraft</th>
      <th>Livery</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @fleet.each do |fleet_item| %>
      <tr>
        <td><%= fleet_item.aircraft.name %></td>
        <td><%= fleet_item.livery %></td>
        <td>
         
        </td>
      </tr>
    <% end %>
  </tbody>
</table>